{% extends 'base.admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<!-- Begin Page Content -->
<div class="container-fluid">
{#    {{ dump (articles) }}#}

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more
        information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official
            DataTables documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"><a href="{{ path('article_new') }}">Добовить статью</a></h6>
        </div>
        <div class="card-body"
        >
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название статьи</th>
                        <th>Дата создания/обновления</th>
                        <th>Категория</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Название статьи</th>
                        <th>Дата создания/обновления</th>
                        <th>Категория</th>
                        <th>Действия</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td><a href="{{ path('article_show', {'id': article.id}) }}">{{ user.title }}</a></td>
                            <td>{{ article.createdAt|date("m/d/Y") }}<br/>{{ user.updatedAt|date("m/d/Y") }}</td>
                            <td>
                                <a href="{{ path('article_edit', {'id': article.id}) }}">редактировать</a>
                                <br>
                                {% include 'admin/article/_delete_article_form.html.twig' %}
{#                                <a href="{{ path('article_delete', {'id': article.id}) }}">удалить</a>#}
                            </td>
                        </tr>

                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock %}